{% load static from staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrition Information</title>
    <link rel="stylesheet" href="{% static 'foundation/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/foundation-icon-fonts-3/foundation-icons.css' %}">
  </head>
<body>

  {% block content %}{% endblock %}

  <script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
  <script src="{% static 'bower_components/what-input/what-input.js' %}"></script>
  <script src="{% static 'bower_components/foundation-sites/dist/foundation.js' %}"></script>
  <script src="{% static 'foundation/js/app.js' %}"></script>
</body>
</html>